:root {
  --primary-color: #000000;
  --secondary-color: #8f95a5;
  --white-color: #ffffff;
  --bgc-btn-dark: #263238;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #000000;
}

.c-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-link {
  color: inherit;
  text-decoration: none;
}

.header {}

.logo {
font-size: 36px;
line-height: 1.5;
color: var(--primary-color);
}

.header-logo {
}

.accent {
  color: #939393;
}

.navigation {}

.navigation-list {}

.navigation-item {}

.navigation-link {
  font-weight: var(--fw-medium);
  font-size: 20px;
  line-height: 1.5;
  /* identical to box height */

  color: var(--bgc-btn-dark);
}

.btn-navigation {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}

/* Hero */
.hero-title {
  font-weight: var(--fw-semibold);
  font-size: 64px;
  line-height: 1.25;

  color: var(--primary-color);
}

.hero-text {
  font-size: 24px;
  line-height: 1.5;

  color: var(--secondary-color);
}

.hero-link {
  font-size: 36px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--white-color);
  background: var(--bgc-btn-dark);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

/* Skills */

.skills-title {
  font-weight: var(--fw-semibold);
  font-size: 48px;
  line-height: 1.5;

  color: var(--primary-color);
}

.skills-item-title {
  font-weight: var(--fw-semibold);
  font-size: 30px;
  line-height: 1.5;
}

.skills-item-text {
  font-size: 16px;
  line-height: 1.5;
}

.skills-item-link {
  font-weight: var(--fw-medium);
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-color);
  background: var(--bgc-btn-dark);
  border-radius: 10px;
}

/*--------ABOUT------*/

.about {}

.about-title {
  font-weight: var(--fw-semibold);
  font-size: 48px;
  line-height: calc(72 / 48);
  color: var(--primary-color)
}


.about-text {
  font-size: 20px;
  line-height: 1.8;
  color: var(--secondary-color);
}

.about-list {}

.about-list-item {}

.about-list-item-title {
  font-weight: var(--fw-semibold);
  font-size: 48px;
  line-height: 1.5;
  color: #2A3246;
}

.about-list-item-text {
  font-size: 20px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.pricing {
}
.pricing-title {
font-weight: var(--fw-semibold);
font-size: 48px;
line-height: 1.5;
color: #263238;
}
.pricing-list {
}

.pricing-item {
}
.pricing-item-img {
}
.pricing-item-title {
font-weight: var(--fw-semibold);
font-size: 30px;
line-height: 1.6;
color: var(--bgc-btn-dark);
}

.pricing-item-text,
.pricing-item-amount,
.pricing-item-period {
  line-height: 1.5;
}

.pricing-item-text {
font-size: 20px;
color: var(--secondary-color);

}
.pricing-item-payment {
  background-color: #EEEEEE;
}
.pricing-item-amount {
font-size: 24px;
color: var(--bgc-btn-dark);
}
.pricing-item-period {
font-size: 18px;
color: #546269;
}

.contact {
}
.contact-img {
}
.contact-title,
.contact-text {
line-height: 1.5;
}

.contact-title {
font-weight: var(--fw-semibold);
font-size: 48px;
color: #000000;
}

.contact-text {
font-size: 20px;
color: var(--secondary-color);
}

.footer {
}
.footer-logo {
}
.navigation-list {
}
.footer-navigation .navigation-link {
  color: var(--secondary-color);
}

.navigation-item {
}
.navigation-link {
}
