:root {
  --primary-color: #8d96bd;
  --secondary-color: #3d4f9f;
  --accent-color: #5e81fe;
  --blue-color: #4d6ce1;
  --blue-color-100: #4c85ff;
  --grey-color-100: #d6dae5;
  --grey-color-200: #adb4d2;
  --grey-color-300: #d1d1e4;
  --grey-color-400: #697ca6;
  --white-color-100: #f1f5ff;
  --white-color-200: #f5f8ff;
  --white-color: #ffffff;
  --fw-ligth: 300;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --open-sans: "Open Sans", sans-serif;
  --quicksand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

img {
  display: block;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: inherit;
}
body {
  font-family: var(--roboto);
  margin: 0;
}
.fw-500 {
  font-weight: var(--fw-medium);
}
.container {
  width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}

.c-uptitle {
  font-style: var(--roboto);
  font-weight: var(--fw-medium);
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

/* -----------------------------Header------------------------- */
.footer {
  padding-top: 93px;
  padding-bottom: 93px;
}

.footer > .container {
  display: flex;
  align-items: center;
}

.footer > .container:last-child {
  margin-top: 28px;
}

.nav-list-text {
  margin-left: 99px;
}

.logo {
  width: 26px;
  height: 26px;
  background-color: #5e81fe;
  border-radius: 100%;
  margin-right: 73px;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-socials-list {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-right: 44px;
}

.header-cta-btn {
  cursor: pointer;
  border: none;
  padding: 13px 15px;
  color: #3a79ff;
  background-color: #d2e1ff;
  border-radius: 2px;
  transition: color 350ms ease-in, background-color 350ms ease-out;
}

.header-cta-btn:hover,
.header-cta-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 42px;
}

.nav-list-link {
  font-weight: var(--fw-medium);
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: var(--grey-color-400);

  text-shadow: 0px 0px 5px #e6e6e6;
  transition: color 300ms ease-in;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.header-socials-link {
  color: var(--primary-color);
  transition: color 300ms cubic-bezier(0.29, 1.01, 1, -0.68);
}

.header-socials-icon {
  fill: currentColor;
}

.header-socials-link:hover,
.header-socials-link:focus {
  color: var(--accent-color);
}

.nav-list-copyright {
  margin-left: 99px;
  font-family: var(--quicksand);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #aeb8d0;
}
/* ---------------------------------------- */
.partners-link {
  display: flex;
  color: var(--grey-color-100);
  border: 1px solid transparent;
  transition: color 1000ms ease-in-out, border 1500ms ease-in;
}

.partners-icon {
  display: flex;
  fill: currentColor;
}
.partners-link:hover,
.partners-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

.button {
  cursor: pointer;
}

.plan-buttons {
  display: flex;
}

.plan-button-l {
  font-family: var(--quicksand);
  font-weight: var(--fw-bold);
  font-size: 13px;
  line-height: 1.23;
  /* display: inline-flex; */
  align-items: center;
  color: var(--white-color);
  border: none;
  background-color: var(--blue-color-100);
  padding: 13px 25px;
  gap: 6px;
  border-radius: 3px 0 0 3px;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
}

.plan-button-l:hover,
.plan-button-l:focus {
  background-color: var(--blue-color);
}

.play-btn-icon {
  fill: currentColor;
}

.features-link {
  font-family: var(--quicksand);
  font-weight: var(--fw-medium);
  font-size: 13px;
  line-height: 1.23;
  /* display: inline-flex; */
  align-items: center;
  text-align: center;
  color: var(--grey-color-200);
  border: 1px solid var(--grey-color-300);
  padding: 13px 21px;
  border-radius: 0 3px 3px 0;
}

.features-link:hover,
.features-link:focus {
  color: black;
  border-color: black;
}

.about-title {
  margin-bottom: 92px;
  font-family: var(--quicksand);
  font-weight: var(--fw-medium);
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-color);
}

.about-list {
  display: flex;
  gap: 67px;
}

.about-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-item-icon-wrapper {
  margin-bottom: 33px;
  width: 69px;
  height: 69px;
  background-color: var(--white-color-100);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-item-title {
  margin-bottom: 25px;
  font-weight: var(--fw-bold);
  font-size: 14px;
  line-height: 1.78;
  text-align: center;
  color: #4074f8;
}

.about-item-text {
  font-weight: var(--fw-bold);
  font-size: 11px;
  line-height: 1.7;
  text-align: center;
  color: #adb3cb;
}
.stats {
  display: flex;
}
.stats-box-l {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 66px;
  padding-bottom: 66px;
  padding-right: 90px;
  padding-left: 15px;
  width: 50%;
  background-color: #6888ff;
}
.stats-icon {
  margin-bottom: 24px;
}
.stats-number-l,
.stats-number-r {
  font-size: 48px;
  line-height: 1.73;
  letter-spacing: 0.03em;
}
.stats-number-l {
  color: var(--white-color);
}
.stats-text-l {
  text-align: right;
  max-width: 260px;

  font-weight: var(--fw-medium);
  font-size: 18px;
  line-height: 1.27;
  text-align: right;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.stats-box-r {
  padding-top: 66px;
  padding-bottom: 66px;
  padding-left: 90px;
  padding-right: 15px;
  width: 50%;
  background-color: #e9efff;
}
.stats-number-r {
  color: #5e80ff;
}
.stats-text-r {
  max-width: 260px;
  text-align: left;
  font-weight: var(--fw-medium);
  font-size: 18px;
  line-height: 1.27;
  text-align: right;
  letter-spacing: 0.03em;
  color: #5e80ff;
}
.section-nine {
  background-color: #6888ff;
  padding-top: 91px;
  padding-bottom: 91px;
}
.section-nine-title {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  font-family: var(--quicksand);
  margin-bottom: 28px;
}

.section-nine-link-l {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.23;
  display: flex;
  align-items: center;
  text-align: center;
  color: #565f82;
  padding: 13px 18px;
  background: #ffffff;
  box-shadow: 0px 5px 15px #6480e8;
}
.section-nine-link-r {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  display: flex;
  align-items: center;
  text-align: center;
  color: #c7d3ff;
  padding: 13px 8px;
  border: 1px solid #a0b4ff;
  background: transparent;
}
.section-nine .c-uptitle {
  text-align: center;
  color: #ffff;
  margin-bottom: 16px;
}
.section-nine-description {
  width: 712px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 1.93;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 35px;
}
.section-nine-links-container {
  font-family: var(--quicksand);
  display: flex;
  justify-content: center;
}

/* ---------------------------Section 10--------------------------- */
.section-ten {
  padding-top: 118px;
  padding-bottom: 118px;
}

.section-ten-content {
  max-width: 887px;
  margin: 0 auto;
  display: flex;
}

.section-ten-title {
  font-family: var(--quicksand);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 18px;
  color: var(--secondary-color);
}

.section-ten-l {
  margin-right: auto;
  max-width: 330px;
}

.section-ten-text {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}
.section-ten-r {
}
.section-ten-btn {
  padding: 21px 62px;
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
}

/* Modal window */

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  transition: opacity 200ms ease-in-out, visibility 200ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  min-height: 300px;
  /* min-width: 400px; */
  max-width: 600px;
  width: 100vw;
  padding: 30px;
  background-color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-100%, 200%) scale(0.5);
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #2e2f42;
  width: 24px;
  height: 24px;
  transition: color 300ms ease-in-out;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: red;
}

.cross-icon {
  fill: currentColor;
}
.form {
}
.form-group {
  display: block;
}
.form-group-text {
  display: block;
}
.input-container {
  position: relative;
}
.group-input {
  display: block;
  width: 100%;
  padding: 11px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border-radius: 4px;
  padding-left: 37px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: none;
  transition: border 300ms;
}
.group-input:focus {
  border: 1px solid #4d5ae5;
}
.group-input:focus + .form-group-icon {
  fill: #4d5ae5;
}

.form-group-icon {
  position: absolute;
  left: 16px;
  /* top: 17px; */
  top: 50%;
  transform: translateY(-50%);
  transition: fill 300ms;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tick-wrap {
  display: flex;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 300ms linear, border 300ms linear;
}
.checkbox-tick {
  fill: #fff;
  opacity: 0;
  transition: opacity 300ms ease;
}
.checkbox:checked + .tick-wrap {
  background-color: #4074f8;
  border: 1px solid #4074f8;
}

.checkbox:checked + .tick-wrap > .checkbox-tick {
  opacity: 1;
}
.checkbox:focus + .tick-wrap {
  outline: 1px solid #4074f8;
}
